html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color:#404041;
}

header, footer {
  background-color: #9784ff;
  text-align: left;
}

header{
  font-family: Work Sans;
  color: #fff;
  /* min-height: 10vh; */
  padding: 01em;
  /*display: flex;*/
}

main {
  display: grid;
  
  grid-gap: 20px;

  /* justify-items: center; */
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin: 0.5em;
}

section {
  width: 100%;
}

h1 {
  font-family: Poppins;
  font-size: calc(1em + 3vw);

}

h2 {
  font-family: Poppins;
  font-size: calc(0.75em + 2vw);
  /* color:#fff; */
  margin-bottom: 0em;
}

h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #230089;
  padding: 0rem;
}



.article h3 {
  color:black;
}

h4,h5, i {
  font-family: Poppins;
}

a {
  text-decoration: none;
  font-family: Poppins;
  color: #eeeeee;
}
a:hover{
  color:#c7c4ff;
}



img {
  width: 100%;
  max-width:100%;
  height: auto;
  object-fit: cover;
}

li {
    list-style: none;
    display: list-item;
}

p {
  font-family:Poppins;
}

.about{
  margin:0em;
  padding:0.5em;
}

.aframe-container {
  margin:5rem;
  background-color: white;
}

.article {
  color:#111;
  margin:2em;
  padding:1em;
  background-color: #fff;
}

.back-arrow{
  align-content: left;
  padding: 0.5rem;
  margin:0rem;
}

.box {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  /* width: 100%; */
  max-width: 100%;
  grid-gap:1em;
  margin: 0.5em;
  padding: 0.5em; 
  background-color:#eeeeee;
  border-radius:1em;
}

.box:hover{
  box-shadow: 5px 5px 5px #111;
}

.box-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.box-area {
  display:grid;
  margin:0.5em;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ;
}

.box-title{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
}

.container {
  margin: auto;
  display: grid;
  /* align-items: stretch; */
}

.copyright {
  font-family: 'Work Sans';
  color: #c7c4ff;
  padding: 0.4em;
}

.desc {
  border-left: 1px;
  color: black;
  font-style: italic;
}

.fa {
  padding: 0.5rem;
  border-radius: 10px;
  font-size: calc(0.75em + 2vw);
}

.fa-linkedin{
  background-color: #007bb5;
}

.fa-github {
  background-color: #111;
}

.nav{
    display: flex;
    justify-content: flex-end;
}
.nav-bar {
    background-color: #9784ff;

    display: flex;
}
.nav-item{
    margin:0.5em;
}

.pic {

}

.section-title {
  color:#fff;
}

.site-title{
  border-bottom: 1px solid;
  line-height: 1.3;
  padding-bottom: .67em;

}

.tag{
  /* font-style:italic; */
  border: 1px solid #888;
  border-radius:10px;
  color:black;
  width:min-content;
  padding: 0 0.2em;
  margin: 0.5em;

}

.wrapper {
    max-width: 1150px;
    margin: auto;
    /* padding: 50px; */
    display: block;
}

.bio {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Work Sans';
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}



#profile-pic {
  max-width: 20rem;
}

footer {
  margin-top: 44px;
}

@media all and (max-width:500px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 800px){
  .container {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 1200px){
  .container {
    grid-template-columns: repeat(3,1fr);
  }
}

.card{
    margin: 0 auto;
}

.scattergrid{
    display:grid;
    gap:0rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color:white;
    padding:1rem;
    border-radius:1em;

}

.scatter {
  height:10em;
  width:100%;
  /* aspect-ratio:12/9; */
}

.web {
    margin: 0 0;
    aspect-ratio: 1.2;
    width:100%;
    /* min-width:500px; */
    /* max-width:100%; */
}

@media only screen and (max-width: 768px){
    body{
        font-size:10pt;
    }
    .scattergrid{
        padding:0rem;
    }
    .web{
        aspect-ratio:0.7;
        background-color: darkslategrey;
    }
}

.myButton {
  border-radius: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
    background-color:#e69708;
}

.myButton:active {
    position:relative;
    top:1px;
}
