html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color:#404041;
}

header, footer {
  background-color: #9784ff;
  text-align: left;
}

header{
  font-family: Work Sans;
  color: #fff;
  min-height: 25vh;
  padding: 1em;
  /*display: flex;*/
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ;
  grid-gap: 20px;

  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin: 0.5em;
}

h1 {
  font-family: Poppins;
  font-size: calc(1em + 3vw);
  padding-bottom: .67em;
  border-bottom: 1px solid;
  line-height: 1.3;

}

h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #230089;
  padding: 10px 0px 10px 10px;
}

a {
  text-decoration: none;
  font-family: Poppins;
  color: #eeeeee;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

li {
    list-style: none;
    display: list-item;
}

.box:hover{
  box-shadow: 5px 5px 5px #111;
}

.copyright {
  font-family: 'Work Sans';
  color: #c7c4ff;
  padding: 0.4em;
}

.nav{
    display: flex;
    justify-content: flex-end;
}
.nav-bar {
    background-color: #9784ff;
    margin: 0.5em;
    display: flex;
}
.nav-item{
    margin:0.5em;
}

.wrapper {
    max-width: 1150px;
    margin: auto;
    /* padding: 50px; */
    display: block;
}

.bio {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Work Sans';
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.myButton {
  border-radius: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
    background-color:#e69708;
}

.myButton:active {
    position:relative;
    top:1px;
}

.box {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  background-color:#eeeeee;
}


.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}


.container {
/*  min-width: 500px; */
  margin: auto;
}

footer {
  margin-top: 44px;
}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
  }
}